<h1>Affirmations</h1>
 


<table> 
  <% @affirmations.each do |affirmation| %>
    <tr>
      <td><%= affirmation.text %></td>
      <td><button><%= link_to 'New', affirmation_new_path %></button></td>
      <td><%= link_to 'Show', affirmation_show_path %></td>
    </tr>
  <% end %>
</table>