<h1>Listing Affirmations</h1>
 
<table>
  <tr>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @affirmations.each do |affirmation| %>
    <tr>
      <td><%= affirmation.text %></td>
      <td><%= link_to 'Show', affirmation_path(affirmation) %></td>
      <td><%= link_to 'New affirmation', new_affirmation_path %></td>
    </tr>
  <% end %>
</table>