<h1> Motivations </h1>



<div class="container .col-sm-6 motivations">
    <ul>
        <button type="button" class="btn btn-primary"><li>Title</li>
        <li>Description</li>
        <li>Author</li>
    </ul>
</div>