@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

html { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
    color:purple;
  }

  body {
      color: purple !important;
  }
.navbar {
    background-color: #FDF6EA !important;
    }
    
     
    
    .navbar-brand {
    font-size: 3rem !important;
    }
    
     
    
    h1 {
    color: royalblue;
    border-bottom-color: gold;
    font-family: 'Marck Script', cursive;
    font-size: 80px;
    }
      
      #wrap {
       border: 3px;
       padding: 3px;
      }
      
      #main {
        overflow:auto;
        padding-bottom:150px; /* this needs to be bigger than footer height*/
      }
      
      .footer {
        position: relative;
        margin-top: -150px; /* negative value of footer height */
        height: 150px;
        clear:both;
        padding-top:20px;
      } 

      topics {
        height: auto !important; 
        width: auto !important; 
        max-width: 250px !important; 
        max-height: 250px !important;
      }

     /* .user {
        @extend %fa-icon;
        @extend .fas;
      
        &:before {
          content: fa-content($fa-var-user);
        }
      }
      
      .twitter {
        @extend %fa-icon;
        @extend .fab;
      
        &:before {
          content: fa-content($fa-var-twitter);
        }
      }*/
     .bottons {
         font-size: 50px !important;
     }

     @media (max-width: 768px) {
        .btn-responsive {
          padding:2px 4px;
          font-size:80%;
          line-height: 1;
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive {
          padding:4px 9px;
          font-size:90%;
          line-height: 1.2;
        }
      }