<h1>Audio Lessons</h1>

<button class="container btn btn-primary">
<%= link_to "Podcast", "https://soundcloud.com/untangle" =%></button>

<ul>
    <li>
        <%= link_to "Audio Lessons", audio_index_path %>
    </li>
</ul>